html {
    scroll-behavior: smooth;
}



.header-mobile {
    display: none;
}

.header-desktop {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F628E;
    top: 0;


    // &.fixed .picture {
    //     display: none;
    // }

    // &.fixed {
    //     position: sticky;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     z-index: 1000;
    // }


    .picture {
        padding-top: 30px;

        img {
            width: 130px;
        }
    }


    nav {
        width: 100%;
        background-color: #1F628E;
        margin: 0;
        padding: 30px 0;
        font-size: 1.3rem;

        ul {
            list-style: none;
            display: flex;
            justify-content: center;
            gap: 35px;
            margin: 0;
            padding: 0;

            li {
                margin: 0;
                padding: 0;

                a {
                    font-weight: 700;
                    text-decoration: none;
                    color: #fff;

                }
            }
        }
    }
}

.nav-fixed {
    width: 100%;
    background-color: #1F628E;
    margin: 0;
    padding: 30px 0;
    font-size: 1.3rem;
    position: sticky;
    top: 0;
    z-index: 9;

    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 35px;
        margin: 0;
        padding: 0;

        li {
            margin: 0;
            padding: 0;

            a {
                font-weight: 700;
                text-decoration: none;
                color: #fff;

            }
        }
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik';
    font-size: 1.25rem;
    position: relative;
}

.container {
    margin: 40px 60px;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

p {
    font-weight: 500;
    line-height: 28px;
}




footer {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
    font-size: 1.75rem;
    font-weight: bold;

    .logos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .logo {
            img {
                width: 200px;
                height: auto;
                margin-bottom: 40px;
            }
        }

        .icon {
            gap: 50px;

            img {
                padding: 5px 10px;
            }

            a {
                text-decoration: none;
            }
        }
    }

    .footer-links {
        width: 100%;
        display: flex;
        justify-content: space-between;
        text-align: left;
        padding: 20px;
        flex-wrap: wrap;
    }

    .footer-links ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footer-address {
        display: flex;
        max-width: 600px;
    }

    .footer-address li {
        display: flex;
        align-items: center;
        /* Alinha o ícone com o texto */
    }

    .icon-pin {
        margin-right: 10px;
        /* Espaçamento entre o ícone e o texto */
    }






    ul {
        list-style: none;
        max-width: 400px;
        padding: 0;
        margin: 0;

        li,
        a {
            font-weight: bold;
            color: #1F628E;

            &:last-child {
                margin: 0;

            }
        }

        li {
            margin-bottom: 16px;
        }

        a {
            text-decoration: none;
            cursor: pointer;
        }
    }
}




@media(max-width: 768px) {

    .header-desktop {
        display: none;
    }

    .nav-fixed {
        display: none;
    }

    body {
        overflow-x: hidden;
    }

    .card {
        align-self: center;
        background-position: center;

    }

    .container {
        margin: 40px 30px;
    }


    .header-mobile {
        background-color: #1F628E;
        display: block;
        position: fixed;
        width: 100%;
        z-index: 9;

        .imgLogo {
            width: 60px;
        }

        a {
            color: #ffffff;
            text-decoration: none;
            transition: 0.3s;
        }

        a:hover {
            opacity: 0.7;
        }

        nav {
            display: flex;
            justify-content: space-between;
            padding: 0 30px;
            align-items: center;
            height: 10vh;
        }

        .nav-list {
            list-style: none;
            display: flex;
            position: absolute;
            top: 10vh;
            margin-top: 0px;
            right: 0;
            width: 100vw;
            height: calc(100vh - 61px);
            background: #1f628eb8;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 48px;
            backdrop-filter: blur(2px);
            font-weight: bold;
            transform: translateX(100%);
            transition: transform 0.3s ease-in;


            ul {
                padding: 100px 0;

            }

            li {
                margin-left: 32px;
                border-bottom: 5px solid #fff;
                /* Cria uma linha abaixo de cada li */
                padding-bottom: 5px;
                /* Adiciona espaço entre o texto e a linha */


            }

            a {
                font-size: 1.7rem;
            }
        }

        .nav-list li {
            margin-left: 0;
            opacity: 0;

        }

        .mobile-menu {
            display: block;
        }
    }

    .nav-list.active {
        transform: translateX(0);
        position: fixed;
    }


    .lines {
        div {
            width: 32px;
            height: 2.5px;
            background: #fff;
            margin: 8px;
            transition: 0.3s;
        }
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .lines.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    .lines.active .line2 {
        opacity: 0;
    }

    .lines.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }

    footer {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 1.25rem;

        .logos {
            .logo {
                img {
                    width: 100px;
                    height: auto;
                }
            }

            .icon{
                img{
                    width: 50px;
                    height: auto;
                }
            }
        }

        .icon-pin{
            img{
                width: 70px;
                height: auto;
            }
        }

        

        ul {
            margin-bottom: 30px;
        }
    }

}