.header-produto {
    background-color: #6DA9CD;
}

.content_prod {
    color: #6DA9CD;
}

.description {
    color: #1E2756;
}

.imagem {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 60%;
        height: auto;
        object-fit: cover;
    }
}


.cards_orto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;



    .card_orto {
        min-width: 300px;
        min-height: 300px;
        background-image: url('https://picsum.photos/id/239/600/600');
        background-size: cover;
        border-radius: 20px;
        position: relative;
        color: #FFF;




        .title_card {
            background-color: #6DA9CD;
            position: absolute;
            left: -20px;
            bottom: -30px;
            width: 90%;
            border-radius: 10px;

            p {
                padding: 16px;
            }
        }

    }

// Fotos eventos
    .um{
        background-image: url("./images/um.JPEG");
    }
    .dois{
        background-image: url("./images/dois.JPEG");
    }
    .tres{
        background-image: url("./images/tres.JPEG");
    }
    .quatro{
        background-image: url("./images/quatro.JPEG");
    }
    .cinco{
        background-image: url("./images/cinco.jpg");
    }
    .seis{
        background-image: url("./images/seis.jpg");
    }
    .sete{
        background-image: url("./images/sete.jpg");
    }
    .oito{
        background-image: url("./images/oito.JPEG");
    }
    .nove{
        background-image: url("./images/nove.JPEG");
    }
    .dez{
        background-image: url("./images/dez.JPEG");
    }
    .onze{
        background-image: url("./images/onze.JPEG");
    }
    .doze{
        background-image: url("./images/doze.JPEG");
    }
    .treze{
        background-image: url("./images/treze.JPEG");
    }
    .quatorze{
        background-image: url("./images/quatorze.JPEG");
    }
    .quinze{
        background-image: url("./images/quinze.JPEG");
    }
    .dezesseis{
        background-image: url("./images/dezesseis.JPEG");
    }
    .dezessete{
        background-image: url("./images/dezessete.JPEG");
    }
    .dezoito{
        background-image: url("./images/dezoito.JPEG");
    }
    .dezenove{
        background-image: url("./images/dezenove.JPEG");
    }
    .vinte{
        background-image: url("./images/vinte.JPEG");
    }
    .vinte_um{
        background-image: url("./images/vinte_um.JPEG");
    }
    .vinte_dois{
        background-image: url("./images/vinte_dois.JPEG");
    }

// Fotos Treinamento

    .vinte_tres{
        background-image: url("./images/vinte_tres.JPEG");
    }
    .vinte_quatro{
        background-image: url("./images/vinte_quatro.JPEG");
    }
    .vinte_cinco{
        background-image: url("./images/vinte_cinco.JPEG");
    }
    .vinte_seis{
        background-image: url("./images/vinte_seis.JPEG");
    }
    .vinte_sete{
        background-image: url("./images/vinte_sete.JPEG");
    }
    .vinte_oito{
        background-image: url("./images/vinte_oito.JPEG");
    }
    .vinte_nove{
        background-image: url("./images/vinte_nove.JPEG");
    }
    .trinta{
        background-image: url("./images/trinta.JPEG");
    }
    .trinta_um{
        background-image: url("./images/trinta_um.JPEG");
    }
    .trinta_dois{
        background-image: url("./images/trinta_dois.JPEG");
    }
    .trinta_tres{
        background-image: url("./images/trinta_tres.JPEG");
    }
    .trinta_quatro{
        background-image: url("./images/trinta_quatro.JPEG");
    }
    .trinta_cinco{
        background-image: url("./images/trinta_cinco.JPEG");
    }
    .trinta_seis{
        background-image: url("./images/trinta_seis.JPEG");
    }
    .trinta_sete{
        background-image: url("./images/trinta_sete.JPEG");
    }
    .trinta_oito{
        background-image: url("./images/trinta_oito.JPEG");
    }
    .trinta_nove{
        background-image: url("./images/trinta_nove.JPEG");
    }
    .quarenta{
        background-image: url("./images/quarenta.JPEG");
    }
    .quarenta_um{
        background-image: url("./images/quarenta_um.JPEG");
    }
    .quarenta_dois{
        background-image: url("./images/quarenta_dois.JPEG");
    }
    .quarenta_tres{
        background-image: url("./images/quarenta_tres.JPEG");
    }



}